@model IEnumerable<WebApplication1.Storage.Entity.City>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCitys</title>
</head>
<body>
    <div>
        <h1>Города</h1>
        @foreach (var item in Model)
        {
            <label>ID: </label>@item.Id<br />
            <label>Название города:  </label>@item.Name<br />
            <label>Население города:  </label>@item.People<br />
            <label>Страна: </label>@item.CountryFor.Name<br />
            <a href="/City/UpdateCitys/@item.Id">Редактировать город</a><br />
            <a href="/City/DeleteCity/@item.Id">Удалить город</a><br />
            <a href="/Restaurant/CreateRestaurants/@item.Id">Добавить ресторан</a><br /><br />

        }
    </div>

    <a href="/Restaurant/ShowRestaurants">Показать рестораны</a><br /><br />
    <a href="/City/FindCitys">Поиск города</a><br /><br />
    <a href="/Country/ShowCountrys">Вернуться к странам</a><br /><br />

    </body>
</html>
