@model WebApplication1.Storage.Entity.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateProduct</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Update", "Product", FormMethod.Post))
        {
            <input id="ProductId" name="ProductId" type="hidden" value="@Model.Id" />

            <label>Название продукта: </label>
            <input id="Name" type="text" name="Name" value="@Model.Name" /><br /><br />
            <label>Дней годности: </label>
            <input id="Time" type="text" name="Time" value="@Model.Time" /><br /><br />
            <input type="submit" value="Сохранить изменения" />
        }

        <a href="/Product/ShowProducts">Вернуться</a><br /><br />
    </div>
</body>
</html>
